<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="control">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: "input", wrapper: false, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, class: "input", wrapper: false, autocomplete: "current-password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field is-grouped">
              <div class="control">
                <%= f.check_box :remember_me %>
              </div>
              <%= f.label :remember_me, class: "label" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <br />

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>


