<!DOCTYPE html>
<html>
  <head>
    <title>Eventz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class=".notification is-primary global notification">
        <p class="notice"><%= notice %></p>
      </div>

    <% end%>
    <% if flash[:alert] %>
      <div class=".notification is-danger global-notification">
        <p class="alert"><% alert %></p>
      </div>

    <% end %>
    <nav class="navbar">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-3">Eventz</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
        <div class="navbar-end is-expanded">
          <% if user_signed_in? %>
          <div class="user-account-dropdown">
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <div class="control">
                  <button class="button is-light is-medium" aria-haspopup="true">
                    <%= current_user.username %>
                  </button>
                </div>
              </div>
              <div class="navbar-divider"></div>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <%= link_to "Profile", user_path(current_user.id)%>
                  </div>
                  <div class="dropdown-item">
                    <%= link_to "Cliques" %>
                  </div>

                  <div class="dropdown-item">                  
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </div>


                </div>
              </div>
            </div>
          </div>  
          <% else %>
              <p class="control">
                <%= link_to "Sign In", new_user_session_path, class: "button is-medium is-light" %>
              </p>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>